snippet main "Basic main"
main :: IO()
main = $0
endsnippet

snippet initfile "Basic includes"
import        Prelude

$0
endsnippet

snippet fun "Sample function"
$1 :: $2 -> $3
$1$0
endsnippet

snippet print "putStrLn"
putStrLn $0
endsnippet
